h1 {
    color: rgb(197, 197, 197);
    font-size: 30%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    font-size: 60px;
    color: aliceblue;
    text-decoration: none;
}

button {
    font-size: 40px;
    background-color: rgb(70, 70, 70); /* slightly lighter */
    color: aliceblue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
}


button:hover {
    background-color: rgb(85, 85, 85);
}

.Laws {
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: rgb(197, 197, 197);
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    line-height: 1.5;
}

.button-container {
    text-align: center;
}

h2 {
    color: rgb(197, 197, 197);
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.smalltitle {
    color: rgb(197, 197, 197);
    font-size: 15px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.line {
    margin: 20px 0;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-color: rgb(54, 54, 54);
}

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    a {
        font-size: 28px;
    }

    button {
        font-size: 24px;
        padding: 10px 20px;
    }

    p {
        font-size: 18px;
        margin: 10px;
    }
}
